/*
	Author: Shane Schroll - 502 Media Group
	Author URI: https://weare502.com
	Theme Name: Blueprint
	Description: Blueprint EDITOR blocks stylesheet. This stylesheet affects the editor area only.
	Version: 0.4
	Text Domain: blu
*/
.grid-block {
  width: 100%;
  margin: 3rem auto; }
  .grid-block--grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23.5rem));
    -webkit-column-gap: 1.15rem;
    column-gap: 1.15rem;
    row-gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .grid-block__inner {
    padding: 1rem; }
    .grid-block__inner h4 {
      margin-top: 0;
      margin-bottom: 0; }
