/*
	Author: 502 Media Group
	Author URI: https://weare502.com
	Theme Name: Blueprint
	Description: Blueprint theme for a quick start on a project.
	Version: 0.3
	Text Domain: blu
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

a, p, span {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

p, span {
  color: #000; }

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #000; }
  a:hover {
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    text-decoration: none; }

.h1-heading, .h1-heading--w,
.h2-heading--w,
.h3-heading--w,
.h4-heading--w,
.h5-heading--w,
.h6-heading--w,
h1--w, h2--w, h3--w,
h4--w, h5--w, h6--w,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase; }
  .h1-heading--w,
  .h2-heading--w,
  .h3-heading--w,
  .h4-heading--w,
  .h5-heading--w,
  .h6-heading--w,
  h1--w, h2--w, h3--w,
  h4--w, h5--w, h6--w {
    color: #FFF; }

h1, .h1-heading, .h1-heading--w,
.h2-heading--w,
.h3-heading--w,
.h4-heading--w,
.h5-heading--w,
.h6-heading--w,
h1--w, h2--w, h3--w,
h4--w, h5--w, h6--w {
  font-size: 3.5rem; }

h2, .h2-heading {
  font-size: 3rem; }

h3, .h3-heading {
  font-size: 2.25rem; }

h4, .h4-heading {
  font-size: 1.75rem; }

h5, .h5-heading {
  font-size: 1.5rem; }

h6, .h6-heading {
  font-size: 1.25rem; }

.learn-more, .prompt-link {
  color: #000;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }
  .learn-more:hover, .prompt-link:hover {
    text-decoration: underline;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.prompt-link {
  text-decoration: underline; }

.box-button {
  display: inline-block;
  max-width: 15rem;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  padding: 0.5rem 1rem; }
  .box-button:hover {
    background-color: #000;
    color: #FFF; }

.slide-button, .slide-button--up, .slide-button--down, .slide-button--left, .slide-button--right {
  display: inline-block;
  max-width: 8rem;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  color: #000; }
  .slide-button--up:hover, .slide-button--down:hover, .slide-button--left:hover, .slide-button--right:hover {
    color: #FFF; }
  .slide-button--up {
    background-size: 100% 200%;
    -moz-background-size: 100% 199%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(bottom, #000 50%, transparent 50%);
    background-image: -o-linear-gradient(bottom, #000 50%, transparent 50%);
    background-image: linear-gradient(to top, #000 50%, transparent 50%);
    -webkit-transition: background-position 0.3s;
    -o-transition: background-position 0.3s;
    transition: background-position 0.3s; }
    .slide-button--up:hover {
      background-position: 0 100%;
      -webkit-transition: background-position 0.3s;
      -o-transition: background-position 0.3s;
      transition: background-position 0.3s; }
  .slide-button--down {
    background-size: 100% 200%;
    -moz-background-size: 100% 199%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #000));
    background-image: -webkit-linear-gradient(top, transparent 50%, #000 50%);
    background-image: -o-linear-gradient(top, transparent 50%, #000 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #000 50%);
    -webkit-transition: background-position 0.3s;
    -o-transition: background-position 0.3s;
    transition: background-position 0.3s; }
    .slide-button--down:hover {
      background-position: 0 -100%;
      -webkit-transition: background-position 0.3s;
      -o-transition: background-position 0.3s;
      transition: background-position 0.3s; }
  .slide-button--left {
    background-size: 200% 100%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #000), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(right, #000 50%, transparent 50%);
    background-image: -o-linear-gradient(right, #000 50%, transparent 50%);
    background-image: linear-gradient(to left, #000 50%, transparent 50%);
    -webkit-transition: background-position 0.3s;
    -o-transition: background-position 0.3s;
    transition: background-position 0.3s; }
    .slide-button--left:hover {
      background-position: 100% 0;
      -webkit-transition: background-position 0.3s;
      -o-transition: background-position 0.3s;
      transition: background-position 0.3s; }
  .slide-button--right {
    background-size: 200% 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #000));
    background-image: -webkit-linear-gradient(left, transparent 50%, #000 50%);
    background-image: -o-linear-gradient(left, transparent 50%, #000 50%);
    background-image: linear-gradient(to right, transparent 50%, #000 50%);
    -webkit-transition: background-position 0.3s;
    -o-transition: background-position 0.3s;
    transition: background-position 0.3s; }
    .slide-button--right:hover {
      background-position: -100% 0;
      -webkit-transition: background-position 0.3s;
      -o-transition: background-position 0.3s;
      transition: background-position 0.3s; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

.generic-wrapper {
  max-width: 100%;
  margin: 0 auto; }

.generic-container {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 1rem; }

.hide-this {
  display: none; }

.g-blocks {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 1rem; }
  .g-blocks__container {
    max-width: 100%;
    margin: 0 auto; }
  .g-blocks__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .g-blocks__flex--content {
      margin: 0 1rem; }

/* Gravity Forms styles modifications - slicker form look
 * These should be global and should not require !important
 * If you need to specify just one form - use #gform_wrapper_ID in place of the global .gform_wrapper class
*/
.gform_wrapper .gform_heading {
  font-family: Verdana, sans-serif; }

.gform_wrapper .gform_body, .gform_wrapper .gform_footer {
  font-family: "PT Sans", sans-serif; }

.gform_wrapper .gfield_label {
  font-family: Verdana, sans-serif; }

.gform_wrapper .gform_body .gform_fields .ginput_container input, .gform_wrapper .gform_body .gform_fields .ginput_container textarea {
  border: unset;
  color: #000; }
  .gform_wrapper .gform_body .gform_fields .ginput_container input::-webkit-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #000; }
  .gform_wrapper .gform_body .gform_fields .ginput_container input:-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea:-ms-input-placeholder {
    opacity: 1;
    color: #000; }
  .gform_wrapper .gform_body .gform_fields .ginput_container input::-ms-input-placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::-ms-input-placeholder {
    opacity: 1;
    color: #000; }
  .gform_wrapper .gform_body .gform_fields .ginput_container input::placeholder, .gform_wrapper .gform_body .gform_fields .ginput_container textarea::placeholder {
    opacity: 1;
    color: #000; }

.gform_wrapper .gform_body .gform_fields .ginput_container input {
  border-bottom: 1px solid #000; }

.gform_wrapper .gform_body .gform_fields .ginput_container textarea {
  border: 1px solid #000; }

.gform_wrapper .gform_footer input[type="submit"] {
  max-width: 8rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  background-color: #FFF;
  color: #000;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .gform_wrapper .gform_footer input[type="submit"]:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }

.header-home-wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  max-width: none;
  /*** potentially problematic ***/
  background-color: #999; }

.header-inner {
  display: table-cell;
  vertical-align: middle; }
  .header-inner h1 {
    display: block;
    color: #FFF;
    text-align: center; }

/*# sourceMappingURL=style.css.map */