{# /**
  * Block Name: 3 Column Grid
  * This is the template that displays a 3 column grid (Infinite rows)
*/ #}

<section id="{{ block.id }}" class="grid-block">
	<div class="grid-block--grid">
		{% for item in fields.three_column_block %}
			<div class="grid-block__inner">
				<h4>{{ item.col_title }}</h4>
				<p>{{ item.col_description }}</p>
				<a class="box-button" href="{{ item.button_link }}">{{ item.button_text }}</a>
			</div>
		{% endfor %}
	</div>
</section>

{# use values of cols to concat #}