{% extends 'base.twig' %}

{% block content %}
<section class="not-found">
	<div class="not-found__message">
		<h1>404: Page Not Found!</h1>
		<p>Return <a href="/">Home</a></p>
	</div>
</section>
{% endblock %}