{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">
	{# {% include 'navigation.twig' %} #}

	{# full-page home header w/ IE Checker #}
	{% if is_front_page %}
		<div id="is-ie" title="Browser Compatibility">
			<p>You appear to be using Internet Explorer.</p>
			<p>For the best possible experience we recommend using <a class="prompt-link" href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> or <a class="prompt-link" href="https://www.google.com/chrome/" target="_blank">Chrome</a>.</p>
		</div>

		<header class="header-home-wrapper">
			{% block homeheader %}
			{% endblock %}
		</header>
	{% else %}
		<header class="header-wrapper">
			{% block header %}
			{% endblock %}
		</header>
	{% endif %}

	{% include 'search-form.twig' %}

	{% block belowheader %}
		{% block results %}{% endblock %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}

	{% include 'external-scripts.twig' %}
</body>
</html>