{% extends 'base.twig' %}

{% block header %}
{% endblock %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="generic-wrapper">
	<div class="generic-container">
		<h2>{{ post.title }}</h2>
		{{ post.content }}
	</div>

	{% for course in course_schedules %}
		<div class="generic-container">
			<h4>{{ course.course_name }}</h4>
			<p>Campus: {{ course.course_location }}</p>
			<p>Course Date: {{ course.course_dates |replace({'00:00:00.000': ''}) }}</p>
			<p>Meeting Days: {{ course.course_meeting_days }}</p>
		</div>
	{% endfor %}
</section>
{% endblock %}