{% extends 'base.twig' %}

{% block homeheader %}
<div class="header-inner"><h1>Hello!</h1></div>
{% endblock %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="generic-wrapper">
	<div class="generic-container">
		<h2>{{ post.title }}</h2>
		{{ post.content }}
	</div>
</section>
{% endblock %}