{% block navigation %}
<section class="nav-wrapper">
	<div class="nav-container">
		<a class="logo" href="/"><img src="" alt=""></a>
		<nav class="nav-container__menu" role="navigation">
			<div id="menu-toggle">
				<span></span> {# Top Left of X #}
				<span></span> {# Top Right of X #}
				<span></span> {# Center Bar Split (left) #}
				<span></span> {# Center Bar Split (right) #}
				<span></span> {# Bottom Left of X #}
				<span></span> {# Bottom Right of X #}
			</div>
			{{ function('blu_render_primary_menu') }}
		</nav>
	</div>
</section> {# /.top-container #}
{% endblock %}