{% extends 'base.twig' %}

{% block results %}
<div class="generic-container">
	<h1>Search Results</h1>
	<p>You searched for: {{ get_query_string }}</p>
	<p style="border-bottom: 1px solid black;">Results found: {{ results_count }}</p>

	{% for post in posts %}
		<div style="display: block; border: 1px solid black; margin-bottom: 1rem; padding: 1rem;">
			<a href="{{ post.link }}"><h4>{{ post.title }}</h4></a>
			<p> POST EXCERPT: {{ post.preview.length(25) }}</p>
		</div>
	{% endfor %}
</div>
	{{ cleanup }}
{% endblock %}