{% block searchbar %}
<section class="search-container" style="padding-left: 2rem;">
	<form role="search" method="GET" class="search-form" action="{{ home_url }}">
		<label>
			<span class="screen-reader-text" style="visibility: hidden;">Search for:</span><br>
			<input type="search" class="search-field" placeholder="Search... " value="" name="s" title="Search for:" />
			{# <input type="hidden" value="example" name="post_type" /> #}
			{# will search for posts in the "example" cpt only #}
		</label>
		<input type="submit" class="search-submit" value="Search" />
	</form>
</section>
{% endblock %}