// standard link style
.learn-more, .prompt-link {
	color: $font-color;
	transition: none;

	&:hover {
		text-decoration: underline;
		transition: none;
	}
}

.prompt-link {
	text-decoration: underline;
}

// standard "box" style button
.box-button {
	display: inline-block;
	max-width: 15rem;
	background-color: transparent;
	border: 1px solid $font-color;
	color: $font-color;
	text-align: center;
	padding: 0.5rem 1rem;

	&:hover {
		background-color: $font-color;
		color: $white;
	}
}

// Buttons with standard TRBL color-slide effects
.slide-button {
	display: inline-block;
	max-width: 8rem;
	padding: 0.5rem 1rem;
	border: 2px solid $font-color;
	color: $font-color;

	&--up, &--down, &--left, &--right {
		@extend .slide-button;
		&:hover { color: $white; }
	}

	&--up {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to top, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 100%;
			transition: background-position 0.3s;
		}
	}

	&--down {
		background-size: 100% 200%;
		-moz-background-size: 100% 199%; // fixes blur
		background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 0 -100%;
			transition: background-position 0.3s;
		}
	}

	&--left {
		background-size: 200% 100%;
		background-image: linear-gradient(to left, $font-color 50%, transparent 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: 100% 0;
			transition: background-position 0.3s;
		}
	}

	&--right {
		background-size: 200% 100%;
		background-image: linear-gradient(to right, transparent 50%, $font-color 50%);
		transition: background-position 0.3s;

		&:hover {
			background-position: -100% 0;
			transition: background-position 0.3s;
		}
	}
} // end .slide-button (parent)