/* Gravity Forms styles modifications - slicker form look
 * These should be global and should not require !important
 * If you need to specify just one form - use #gform_wrapper_ID in place of the global .gform_wrapper class
*/
.gform_wrapper {

	.gform_heading { font-family: $font-head; }
	.gform_body, .gform_footer { font-family: $font-body; }

	// heading labels for form fields
	.gfield_label { font-family: $font-head; }

	// body styles (input boxes, textareas, radio buttons, checkboxes)
	.gform_body .gform_fields .ginput_container {

		input, textarea {
			border: unset;
			color: $font-color;

			&::placeholder {
				opacity: 1;
				color: $font-color;
			}
		}

		input {
			border-bottom: 1px solid $font-color;
		}

		textarea {
			border: 1px solid $black;
		}
	}

	// footer styles (only the submit button)
	.gform_footer input[type="submit"] {
		max-width: 8rem;
		padding: 0.5rem 1rem;
		border: 1px solid $black;
		background-color: $white;
		color: $font-color;
		transition: 0.2s ease-in;

		&:hover {
			cursor: pointer;
			background-color: $black;
			color: $white;
			transition: 0.2s ease-out;
		}
	}
}