// global sitewide styles
* {
	box-sizing: border-box;
}

html {
	// 1rem = 16px
	font-size: 16px;
}

html, body {
	// smooths jagged font edges
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: subpixel-antialiased; // Mac only

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.2;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

// Default wrapper 
.generic-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.generic-container {
	max-width: 75rem;
	margin: 2rem auto;
	padding: 1rem;
}

.hide-this {
	display: none;
}

// basic block wrapper (for consistency)
// [__container] = basic block container
// [__flex] = basic flex container
.g-blocks {
	max-width: 75rem;
	margin: 2rem auto;
	padding: 1rem;

	&__container {
		max-width: 100%;
		margin: 0 auto;
	}

	&__flex {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: flex-start;

		&--content {
			// max-width: calc(100%/3);
			margin: 0 1rem;
			// padding: 1rem;
		}
	}
}