.header-home-wrapper {
	display: table;
	width: 100%;
	height: 100vh;
	padding: 2rem;
	margin: 0;
	max-width: none; /*** potentially problematic ***/
	background-color: $light-grey;
}

// uncomment to add a color transition behind (stacking context)
// .header-wrapper {
// 	height: 90vh;
// }

.header-inner {
	display: table-cell;
	vertical-align: middle;

	h1 {
		display: block;
		color: $white;
		text-align: center;
	}
}