// basic font styles
a, p, span {
	font-family: $font-body;
	font-weight: normal;
	font-size: 1rem;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
}

p, span {
	color: $black;
}

// base link styles
a {
	text-decoration: none;
	transition: 0.2s ease-in;
	color: $font-color;
	
	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: bold;
	color: $black;
	line-height: 1.2;
	text-transform: uppercase;

	&--w {
		@extend .h1-heading;
		color: $white;
	}
}

h1, .h1-heading {
	font-size: 3.5rem;
	// @include bp(sm) { font-size: 1rem; }
	// @include bp(md) { font-size: 1rem; }
}

h2, .h2-heading {
	font-size: 3rem;
	// @include bp(sm) { font-size: 1rem; }
	// @include bp(md) { font-size: 1rem; }
}

h3, .h3-heading {
	font-size: 2.25rem;
	// @include bp(sm) { font-size: 1rem; }
	// @include bp(md) { font-size: 1rem; }
}

h4, .h4-heading {
	font-size: 1.75rem;
	// @include bp(sm) { font-size: 1rem; }
	// @include bp(md) { font-size: 1rem; }
}

h5, .h5-heading {
	font-size: 1.5rem;
}

h6, .h6-heading {
	font-size: 1.25rem;
}