// standard colors
$black: #000;
$white: #FFF;
$light-grey: #999;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// fonts
$font-head: Verdana, sans-serif;
$font-body: 'PT Sans', sans-serif;
$font-color: $black; // Primary font color (for buttons, links, etc)

// alt mq sizes
$small-tablet: 400px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}